@import '../../variables.scss';

.accountWrapper.hide {
  display: none;
}
.accountWrapper.show {
  display: flex;
}

.accountWrapper {
  width: 82.5vw;
  margin-left: 17.5%;
  margin-top: 40px;

  p {
    font-size: 8em;
    color: $main-text;
  }
  .formWrapper {
    min-width: 50%;
    @media screen and (max-width: 768px) {
      min-width: 80%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    .buttonWrapper {
      margin: 40px 0px;
    }
    .inputBoxWrapper {
      position: relative;
      .insideBox {
        position: absolute;

        bottom: 26px;
        width: 500px;
        padding-right: 24px;

        text-align: right;
        pointer-events: none;
        > p {
          font-size: 1em;
          color: $gray;
        }
      }
      .noteText {
        font-size: 0.9em;
        color: $gray;
      }
    }
    .token {
      text-align: left;
      width: 500px;
      margin-left: 48px;
      > p {
        font-size: 1em;
        color: $gray;
      }
    }
  }
  .buttonWrapperA {
    height: 18vh;
    margin-top: 76px;
    justify-content: space-between;
    align-items: flex-start;

    border-left: 2.5px solid $gray;
    padding-left: 22px;
  }
}
