@import '../../variables.scss';

p {
  font-size: 8em;
  color: $main-text;
}

.hide {
  display: none;
}
.show {
  display: inherit;
}

.payoutWrapper {
  width: 82.5vw;
  align-items: center;
  justify-content: center;
  .flexRow {
    position: relative;
    input.inputCheckboxPayout {
      position: absolute;
      height: 50px;
      width: 50px;
      right: -75px;
      &:checked {
        content: '\2713';
        display: block;
        text-align: center;
        color: #41B883;
        position: absolute;
        left: 0.7rem;
        top: 0.2rem;
      }
    }
  }

}
