@import '../../variables.scss';

p {
  font-size: 8em;
  color: $main-text;
}

.hide {
  display: none;
}
.show {
  display: inherit;
}

.payoutWrapper {
  width: 82.5vw;
  align-items: center;
  justify-content: center;
  .flexRow {
    position: relative;
    .payloadCheckboxContainer {
      input.inputCheckboxPayout {
        position: absolute;
        height: 50px;
        width: 50px;
        right: -75px;
      }
  
      .payloadCheckmark {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

}
