@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@font-face {
  src: url("./resources/atari.ttf") format("truetype");
  font-family: "Atari";
}
$poppins-font: "Poppins", sans-serif;
$atari-font: "Atari", sans;
$pixel-font: "VT323", monospace;
$agency-font: "Agency FB", arial;
$roboto-font: "Roboto", sans-serif;
$agency-bold-font: "Agency FB Bold", arial;

$accent: #ff1d00;
$blue: #0082ff;

$foreground-old: #0f0f0f;
$background-old: #0a0a0a;

$foreground: #0f0f0f;
$background: #1b1b1b;

$second-text: #e3e3e3;
$main-text: #f4f4f4;
$back-text: #7f7f7f;
$gray: #5c5c5c;
$input-background: #121212;
$dark-gray: #121212;

$speech-bubble-background: #313131;

.poppinsFont {
  font-weight: 400;
  font-size: 0.8vw;
  font-family: $poppins-font;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.robotoFont {
  font-weight: 700;
  color: $main-text;
  font-family: $roboto-font;
}
