@import "../variables.scss";

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.robotoFont {
  font-weight: 700;
  font-family: $roboto-font;
}


.FA {
  background-color: $background;
  section {
    margin-top: 3em;
    p {
      padding: 0 0 1em 0;
      border-bottom: 2px solid $accent;
      color: $back-text;
      font-size: 1em;
    }
    h1 {
      margin-top: 0.3em;
      color: $main-text;
      font-size: 3em;
    }
    h3 {
      width: 70%;
      margin-top: 1.5em;

      font-weight: 400;
      font-size: 1em;
      color: $main-text;
      text-align: center;
    }
  }
  .form {
    margin-top: 3em;
    color: $second-text;
    max-width: 700px;
    .card {
      margin: 3em;

      h1 {
        font-size: 1em;
        font-weight: 300;
      }
      .suo {
        margin-bottom: 3vh;
      }

      .error {
        color: $accent;
      }

      .textBox {
        width: 100%;
        font-size: 1em;
        padding: 0.8em;
        margin: 1em 0;

        outline: none;
        border-style: none;

        border-left: 3px solid $gray;

        background-color: $input-background;

        color: $main-text;
        text-align: left;
        font-family: $roboto-font;
        transition: 300ms;
      }
      .textBox:focus {
        border-left: 3px solid $accent;
        transition: 300ms;
      }

      /* The slider itself */
    }
    .buttonContainer {
      margin: 1em 0 2em 0;
      button {
        color: $main-text;
        font-size: 1em;
        padding: 0.5em 1.5em;

        background: $accent;

        outline: none;
        border-radius: 40px;
        border: 0px solid transparent;
      }
    }
  }
}
