@import "../variables.scss";

.wrapper {
  background: $background;
  height: 200vh;
  .navbar {
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;
    .logo {
      margin: 20px;
      width: 5vw;
    }
    ul {
      padding: 2vh 2vw;
      li {
        list-style: none;
        margin: 0 0.8vw;
        color: $second-text;
      }
      .suButton {
        background: $accent;
        padding: 0.8vh 1.8vw;
        border-radius: 5vh;
        font-weight: 700;
        color: $dark-gray;
      }
    }
  }
  .scrollIndicator {
    left: 0;
    position: absolute;

    width: 30vw;
    height: 100%;
    .dot {
      width: 13px;
      height: 13px;
      border-radius: 100%;
    }
    .line {
      width: 4px;
      height: 2.2vw;
      border-radius: 8px;
    }
    .accent {
      background: #ff1d00;
    }
    .gray {
      background: $gray;
    }
  }
 
}
