@import '../variables.scss';

.lpWrapper {
  background: #0d0d0d;
  padding: 0 16.825%;

  @media screen and (max-width: 480px) {
    padding: 0 3rem;
    width: 100%;
  }
  header {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    justify-content: space-between;

    img, picture {
      height: 100%;
    }
    aside {
      width: 70%;
      justify-content: space-around;
      .headerList {
        color: $main-text;
        width: 380px;
        justify-content: space-evenly;
        li {
          font-weight: 500;
          list-style: none;
        }
      }
      .btnWrapper {
        align-items: center;
        justify-content: center;
        p {
          margin: 0 20px;
          font-family: $poppins-font;
          color: $back-text;
        }
      }
    }
  }
  .mainSection {
    margin-top: 80px;
    text-align: center;
    h1 {
      font-size: 4em;
      font-weight: 700;

      width: 962px;
      color: $main-text;

      @media screen and (max-width: 480px) {
        width: 100%;
        font-size: 3em;
      }
    }
    p {
      font-size: 1.2em;
      font-weight: 50;
      margin: 30px 0;
      width: 900px;
      color: $gray;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    
    .mockupWrapper {
      position: relative;
      div {
        height: 45%;
        position: absolute;
        margin-bottom: 200px;
        width: 30px;
        border-radius: 30px;
      }
      .shadowHandler1 {
        right: 0;
        -webkit-box-shadow: 18px 0px 81px 28px rgba(0, 132, 255, 0.85);
        -moz-box-shadow: 18px 0px 81px 28px rgba(0, 132, 255, 0.85);
        box-shadow: 18px 0px 81px 28px rgba(0, 132, 255, 0.85);
      }
      .shadowHandler2 {
        left: 0;
        -webkit-box-shadow: -18px 0px 81px 28px rgba(0, 132, 255, 0.85);
        -moz-box-shadow: -18px 0px 81px 28px rgba(0, 132, 255, 0.85);
        box-shadow: -18px 0px 81px 28px rgba(0, 132, 255, 0.85);
      }
      img {
        z-index: 1;
        margin: 40px 0 220px 0;
        width: 100%; //1274 px
      }
    }
  }
  .featuresArt {
    height: 800px;
    width: 120%;

    background: #0d0d0d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    color: $main-text;

    @media screen and (max-width: 480px) {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    div {
      align-items: flex-start;
      
      @media screen and (max-width: 480px) {
        &:nth-child(3) {
          margin-left: 20px;
        }
        &:nth-child(4) {
          margin-left: 10px;
        }
      }
      img {
        width: 120px;
      }
      .shield {
        width: 100px;
      }
      .hand {
        width: 140px;
      }
      .clock {
        width: 140px;
      }
      .featureContent {
        margin-left: 50px;
        color: $main-text;
        h3 {
          font-size: 2.2em;
        }
        span {
          font-weight: 600;
          color: $main-text;
        }
        p {
          margin-top: 12px;
          width: 280px;
          color: $back-text;
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
    .shieldDiv {
      margin-left: 68px;
      @media screen and (max-width: 480px) {
        margin-left: 0;
      }
    }
  }
  .nrpArt {
    width: 100vw;
    height: 560px;
    padding: 0 25.359%;

    background: $background;
    .textContainer {
      color: $main-text;
      h4 {
        font-weight: 600;
        color: $accent;
      }
      h1 {
        margin: 10px 0;
        font-size: 3em;
        padding-right: 50px;
      }
      p {
        width: 60%;
        color: $back-text;
        .accentSpan {
          color: $accent;
        }
        span {
          font-weight: 500;
          color: $main-text;
        }
      }
    }
    img {
      width: 45%;
    }
  }
  .faqArt {
    height: 650px;
    justify-content: space-between;
    width: 100%;
    .textContainer {
      color: $main-text;
      h4 {
        font-weight: 600;
        color: $accent;
      }
      h1 {
        margin: 10px 0;
        font-size: 3em;
        padding-right: 50px;
      }
      p {
        width: 45%;
        color: $back-text;
        .accentSpan {
          color: $accent;
        }
        span {
          font-weight: 500;
          color: $main-text;
        }
      }
      aside {
        min-height: 320px;
        margin-top: 30px;

        align-items: flex-start;
        section {
          min-height: 90px;
          width: 600px;

          div {
            padding: 6px 20px 6px 15px;

            color: $gray;

            background: $background;

            justify-content: space-between;
            h1 {
              width: 80%;
              font-size: 1.05em;
              font-weight: 500;
            }

            div {
              width: 50px;
              height: 50px;
              align-items: center;
              justify-content: center;
              img {
                width: 20px;
              }
            }
          }
          .mainText {
            width: 500px;
            padding: 10px 0;
            background: $background;
          }
          .invisible {
            display: none;
          }
        }
      }
    }
    .FAQSection {
      width: 45%;
      height: 70%;
      padding: 0 20px;
      background: $background;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .scrHeader {
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: center;

        position: relative;
        .searchInputWrapper {
          width: 100%;
          height: 50px;
          justify-content: center;
          align-items: center;

          position: relative;

          input {
            width: 100%;
            height: 45px;
            padding-left: 20px;

            font-weight: 400;
            color: $main-text;

            border: none;
            outline: none;
            border-radius: 22.5px;
            background: $dark-gray;
          }
        }
        img {
          position: absolute;
          right: 20px;
        }
      }

      .scrBox {
        width: 100%;
        height: 75%;

        overflow-y: scroll;
        padding-right: 10px;
      }
      ::-webkit-scrollbar {
        width: 6px;
        margin-left: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 4.5px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #383838;
        border-radius: 10px;
      }
    }
  }
  .complicatedArt {
    width: 100vw;
    height: 560px;
    padding: 0 25.359%;

    background: $background;
    .textContainer {
      color: $main-text;
      h4 {
        font-weight: 600;
        color: $accent;
      }
      h1 {
        margin: 10px 0;
        font-size: 3em;
      }
      p {
        width: 60%;
        color: $back-text;
        .accentSpan {
          color: $accent;
        }
        span {
          font-weight: 500;
          color: $main-text;
        }
      }
    }
    img {
      width: 380px;
    }
  }
  footer {
    width: 100%;
    height: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $main-text;
    .top {
      align-items: flex-start;
      justify-content: center;
      img {
        width: 9%;
        margin-bottom: 25px;
      }
      p {
        font-weight: 500;
        font-size: 1.1em;
      }
    }
    .body {
      width: 400px;
      align-items: flex-start;
      justify-content: space-between;
      li {
        list-style: none;
      }
      .bold {
        font-weight: 600;
      }
    }
    aside {
      p {
        font-weight: 600;
        margin-bottom: 8px;
      }
      .row {
        width: 380px;
        justify-content: space-between;
        .icons {
          width: 100px;
          justify-content: space-between;
        }
      }
    }
  }
}

.accordion {
  margin-bottom: 10px;
  .content {
    // opacity: 0;
    max-height: 0;
    overflow: hidden;
    // transition: opacity 0.4s ease-out, max-height 0.7s ease-in-out;

    &.animated {
      max-height: 30rem;
      // opacity: 1;

      opacity: 0;
      -moz-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      -webkit-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
    }
  }
}
