@import '../variables.scss';

$margin-hamburger-menu: 20px;

.title {
  .accentLine {
    height: 4px;
    width: 2.2vw;

    border-radius: 8px;
    background: $accent;
  }
  p {
    margin-left: 1vw;

    font-size: 3.5em;
    font-weight: 700;
    color: $main-text;
  }
}

.wrapper {
  .wrapper--navbar {
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;

    ul {
      padding: 2em;

      .hamburgerMenu {
        display: none;
      }

      li {
        list-style: none;
        margin: 0 1rem;
        color: $second-text;
        p {
          margin: 0 -10px;
          color: $back-text;
        }
      }
    }
    .sideDrawer {
      display: none;
    }

    @media screen and (max-width: 1024px) {
      ul {
        .hamburgerMenu {
          display: inherit;
          img {
            width: 30px;
          }
        }

        li {
          display: none;
        }
      }
      .sideDrawer {
        display: none;
      }
    }
  }

  .wrapper--main {
    display: flex;
    margin-right: 15vw;
  }
}
