@import '../variables.scss';

.mpWrapper {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  .cardsContainer {
    width: 78vw;
    min-height: 100vh;

    background: #1b1b1b;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: start;

    margin-left: 22vw;
    padding: 20px;

    @media screen and (max-width: 1650px) {
      margin-left: 360px;
    }

    @media screen and (max-width: 860px) {
      margin-left: 0;
      padding-top: 20px;
      flex-direction: column;
      align-items: center;
    }

    .mpInfo {
      font-family: $poppins-font;
      margin-top: 50px;
      color: #a1a1a1;
      font-size: 180%;
      font-weight: 600;
    }
  }
}
