@import '../variables.scss';

.mpWrapper {
  display: flex;
  flex-direction: row;

  .cardsContainer {
    width: 78vw;
    height: 100vh;
    padding-top: 2vh;

    background: #1b1b1b;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .mpInfo {
      font-family: $poppins-font;
      margin-top: 50px;
      color: #a1a1a1;
      font-size: 180%;
      font-weight: 600;
    }
  }
}
