@import '../variables.scss';

.reWrapper {
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  h1 {
    font-size: 3.5vw;
  }
  .logoWrapper {
    position: absolute;
    top: 12.1px;
    left: 0px;
  }

  @media screen and (max-width: 425px) { 
    .logoWrapper {
      position: absolute;
      top: 12.1px;
      left: 0px;
      display: flex;
      justify-content: center;
      width: 100%;

      .logo {
        left: 0 !important;
      }
    }

    h1 { 
      font-size:3em;
    }

    form {
      margin: 2vh 0.25rem;
      align-items: flex-start;
      width: 100%;

      main {
        margin: 0 1rem;
        width: calc(100% - 2rem);

        button {
          width: 100%;
        }

        div.big {
          width: 100%;
        }
      }

      input.input {
        width: 100% !important;
      }
    }
  }
  .description-s {
    font-weight: 400;
    text-align: center;
    color: $second-text;
    width: 25vw;
  }
  form {
    position: relative;
    bottom: 0;
    margin-top: 2vh;
    align-items: flex-start;
    input {
      width: 22vw;
      height: 4.5vh;

      margin-top: 1vh;
      padding-left: 10px;

      font-size: 0.9vw;
      font-weight: 400;
      color: $main-text;

      outline: none;
      border-radius: 1px 4px 4px 1px;
      background: $input-background;
      border: 0px solid $input-background;

      border-left: 2px solid $gray;
      transition: 350ms;
    }
    input:focus {
      border-left: 2px solid $accent;
      transition: 350ms;
    }
    .errorMessage {
      color: $old-accent;
      font-size: 1em;
      font-weight: 500;
      margin: 20px 0;
    }

    .buttonWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      height: 60px;
      width: 150px;
    }
  }
}
