@import '../variables.scss';

.sideDrawer {
  width: 17.5%;
  height: 100vh;

  background: $dark-gray;

  top: 0;
  left: 0;
  position: fixed;

  .top {
    margin-top: 30px;
    width: 85%;
    height: 55px;
    background: $background;
    border-radius: 5px;
    justify-content: center;

    p {
      font-size: 1.2em;
      color: $main-text;
      font-weight: 500;
    }
  }

  ul {
    list-style: none;
    margin-top: 30px;

    li {
      margin-top: 15px;
      padding: 15px 0;
    }

    button>img {
      margin-right: 20px;
      width: 1.2em;
    }

    button {
      color: $main-text;
      font-size: 1.3em;
      font-weight: 600;
      border: none;
      font-family: $roboto-font;
      letter-spacing: 0.7px;

      .payoutIcon {
        width: 1.38em;
      }

      .accountIcon {
        width: 1.18em;
      }
    }

    .selected {
      width: 17.5vw;
      background: $background;
      border-right: $accent 4px solid;
    }
  }

  .buttonWrapper {
    position: absolute;
    bottom: 20px;
  }
}

.subPageContainer {
  min-height: 100vh;
  background-color: $background;
}