@import '../variables.scss';

.si-wrapper {
  height: 100vh;
  justify-content: center;

  
  .logoWrapper {
    position: absolute;
    top: 12.1px;
    left: 0px;
    
  }

  @media screen and (max-width: 425px) { 
    .logoWrapper {
      position: absolute;
      top: 12.1px;
      left: 0px;
      display: flex;
      justify-content: center;
      width: 100%;

      .logo {
        left: 0 !important;
      }
    }

    h1 { 
      font-size:3em !important;
    }

    form {
      margin: 2vh 0.25rem;
      align-items: flex-start;
      width: 100%;

      main {
        margin: 0 1rem;
        width: calc(100% - 2rem);

        button {
          width: 100%;
        }

        div.big {
          width: 100%;
        }
      }

      input.input {
        width: 100% !important;
      }
    }
  }

  h1 {
    font-size: 5em;
    margin-bottom: 1vh;
  }
  .description-s {
    font-weight: 400;
    text-align: center;
    color: $second-text;
    width: 25vw;
  }
  form {
    margin-top: 2vh;
    align-items: flex-start;
  }
  .divider {
    height: 22px;
  }
  .errorMessage {
    color: $old-accent;
    font-size: 1em;
    font-weight: 500;
    margin: 20px 0;
  }
}
