@import '../variables.scss';

.spWrapper {
  background: #0d0d0d;
  padding: 0 16.825%;
  header {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    justify-content: space-between;

    .site__section__title {
      color: $main-text;
      width: 380px;
      justify-content: flex-start;
      margin: 0 1rem;
      li {
        font-weight: 500;
        list-style: none;
      }
    }
    .logoWrapper {
      height: 100%;
      align-items: flex-end;
      img {
        height: 100%;
      }
      p {
        margin-bottom: 1.2%;
        font-size: 1.2em;
      }
    }
    aside {
      width: 100%;
      justify-content: flex-end;
      .headerList {
        color: $main-text;
        justify-content: space-evenly;
        li {
          margin-left: 20px;
          font-weight: 500;
          list-style: none;
          cursor: pointer;
        }
      }
      .btnWrapper {
        align-items: center;
        justify-content: center;
        p {
          margin: 0 20px;
          font-family: $poppins-font;
          color: $back-text;
        }
      }
    }
  }
  .mainSection {
    width: 100%;
    .search__area {
      width: 100%;
      position: relative;
      input {
        background-color: #1b1b1b;
        width: inherit;
        height: 84px;
        margin-bottom: 76px;
        border: 0;
        border-radius: 6px;
        padding: 28px 38px;
        color: #5c5c5c;
        font-weight: 500;
        font-size: 24px;
      }
      img {
        position: absolute;
        justify-content: center;
        align-items: center;
        padding: 28px;
        right: 38px;
      }
    }

    .help__center__content {
      // width: 100%;
      display: flex;
      flex-wrap: wrap;
      // flex-direction: row;
      // padding: 0 16.825%;
      $margin_item: 0.75rem;
      .item {
        width: calc(100% / 3 - 1.5rem);
        display: flex;
        background-color: #1b1b1b;
        height: 300px;
        justify-content: center;
        align-items: center;
        flex: 0 0 calc(100% / 3 - 1.5rem);
        flex-direction: column;
        margin: $margin_item;
        &:nth-child(3n + 2) {
          img {
            width: calc(1920px * 0.0525);
            position: relative;
            top: 15px;
          }
          p {
            position: relative;
            top: -20px;
          }
        }
        &:nth-child(3n + 3) {
          img {
            width: calc(1920px * 0.0425);
          }
        }
      }
    }
    margin-top: 80px;
    text-align: center;
    h1 {
      font-size: 4em;
      font-weight: 700;

      width: 962px;
      color: $main-text;
    }
    p {
      font-size: 1.2em;
      font-weight: 50;
      margin: 30px 0;
      width: 900px;
      color: $gray;
    }
  }
  footer {
    width: 100%;
    height: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $main-text;
    .top {
      align-items: flex-start;
      justify-content: center;
      img {
        width: 9%;
        margin-bottom: 25px;
      }
      p {
        font-weight: 500;
        font-size: 1.1em;
      }
    }
    .body {
      width: 400px;
      align-items: flex-start;
      justify-content: space-between;
      li {
        list-style: none;
        cursor: pointer;
      }
      .bold {
        font-weight: 600;
      }
    }
    aside {
      p {
        font-weight: 600;
        margin-bottom: 8px;
      }
      .row {
        width: 380px;
        justify-content: space-between;
        .icons {
          width: 100px;
          justify-content: space-between;
        }
      }
    }
  }
}

.accordion {
  margin-bottom: 10px;
  .content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-out, max-height 0.7s ease-in-out;

    &.animated {
      max-height: 30rem;
      opacity: 1;
    }
  }
}
