@import '../variables.scss';

.spWrapper {
  background: #0d0d0d;
  padding: 0 16.825%;
  header {
    margin-top: 30px;
    width: 100%;
    min-width: 918px;

    height: 80px;
    justify-content: space-between;

    @media screen and (max-width: 1020px) {
      min-width: 0;
      width: 80vw;
    }

    img {
      height: 100%;
    }
    .logoWrapper {
      height: 100%;
      display: flex;
      align-items: flex-end;
      @media screen and (max-width: 470px) {
        font-size: 1em;
      }

      p {
        margin-bottom: 1.2%;
        font-size: 1.2em;
        color: $main-text;
        @media screen and (max-width: 470px) {
          font-size: 1em;
        }
        @media screen and (max-width: 400px) {
          height: 0.75em;
        }
      }
      img {
        @media screen and (max-width: 470px) {
          height: 80%;
        }
        @media screen and (max-width: 400px) {
          height: 50%;
        }
      }
    }
    #hamburger {
      display: none;
      @media screen and (max-width: 1420px) {
        display: flex;
        position: sticky;
        z-index: 10;
        justify-self: flex-end;
        right: 3rem;
        cursor: pointer;
        min-width: 25px;
      }
    }
    aside {
      width: 70%;
      justify-content: flex-end;
      @media screen and (max-width: 1420px) {
        display: none;
        &.active {
          display: flex;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          flex-direction: column;
          background-color: black;
          z-index: 5;
          justify-content: center;
        }
      }
      .headerList {
        color: $main-text;
        width: 380px;
        justify-content: space-evenly;

        @media screen and (max-width: 1420px) {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        li {
          font-weight: 500;
          list-style: none;
          cursor: pointer;
          @media screen and (max-width: 1420px) {
            margin-top: 15px;
            font-size: 1.2rem;
            padding: 5px 25px;
            width: 100%;
          }
        }
      }
    }
  }
  .mainSection {
    width: 100%;
    // min-width: 918px;
    margin-top: 80px;
    text-align: center;

    h1 {
      font-size: 4em;
      font-weight: 700;
      color: $main-text;
      margin-bottom: 40px;
      @media screen and (max-width: 437px) {
        font-size: 3em;
      }
      @media screen and (max-width: 330px) {
        font-size: 2em;
      }
    }
    p {
      font-size: 1.2em;
      font-weight: 50;
      margin: 30px 0;
      color: $gray;
    }

    .search__area {
      width: 100%;
      position: relative;

      @media screen and (max-width: 1020px) {
        width: 80vw;
      }

      input {
        background-color: #1b1b1b;
        width: inherit;
        height: 84px;
        margin-bottom: 45px;
        border: 0;
        border-radius: 6px;
        padding: 28px 38px;
        color: $main-text;
        font-weight: 500;
        font-size: 1.58em;
        outline: none;
        @media screen and (max-width: 1020px) {
          height: 54px;
          font-size: 1.4em;
        }
      }
      img {
        position: absolute;

        padding: 28px 0;
        right: 3.5%;
        @media screen and (max-width: 1020px) {
          margin-top: 16px;
          right: 4%;
          padding: 0;
          width: 28px;
        }
      }
    }

    .help__center__content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 320px 320px;
      $margin_item: 0.75rem;
      @media screen and (max-width: 1020px) {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-evenly;
      }
      .item {
        display: flex;
        background-color: #1b1b1b;
        height: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: $margin_item;
        cursor: pointer;

        img {
          // width: calc(1920px * 0.0425);
          width: 110px;
        }

        @media screen and (max-width: 1020px) {
          width: 80vw;
          height: 340px;
          padding: 20px 0;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 21%;
          }
          p {
            font-size: 1.5em;
          }
        }
        @media screen and (max-width: 630px) {
          img {
            width: 120px;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $main-text;

    margin-top: 120px;

    @media screen and (max-width: 480px) {
      display: grid;
      height: unset;
      margin-top: 80px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 'site site' 'logo hotlink';
      & > div {
        grid-area: logo;
        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center !important;
        img {
          width: 80px !important;
        }
      }

      & > main {
        grid-area: site;
      }

      & > aside {
        grid-area: hotlink;
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          height: 100%;
          main {
            // align-self: flex-end;
            justify-self: flex-end;
            button {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
    .top {
      align-items: flex-start;
      justify-content: center;
      img {
        width: 9%;
        margin-bottom: 25px;
      }
      p {
        font-weight: 500;
        font-size: 1.1em;
      }
    }
    .body {
      width: 400px;
      align-items: flex-start;
      justify-content: space-between;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
      li {
        list-style: none;
      }
      .bold {
        font-weight: 600;
      }
    }
    aside {
      p {
        font-weight: 600;
        margin-bottom: 8px;
      }
      .row {
        width: 380px;
        justify-content: space-between;
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        .icons {
          width: 100px;
          justify-content: space-between;
        }
        @media screen and (max-width: 480px) {
          .button {
            font-size: 0.61em;
          }
        }
      }
    }
  }
}

.accordion {
  margin-bottom: 10px;
  .content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-out, max-height 0.7s ease-in-out;

    &.animated {
      max-height: 30rem;
      opacity: 1;
    }
  }
}
