@import '../../variables.scss';

.feWrapper {
  width: 75vw;
  article {
    margin: 6vh 0;
    width: 75vw;

    .body {
      margin-left: 3.5vw;
      margin-top: 2vh;
      p {
        color: $second-text;
        margin: 1vh 0;
        span {
          color: $accent;
        }
      }
    }
    .cardWrapper {
      // width: 45vw;
      margin-top: 2vh;

      justify-content: space-evenly;
      .cardF {
        width: 12vw;
        height: 12vw;

        border-radius: 1.4vh;
        background: $dark-gray;
        .number {
          color: $accent;
          font-size: 1.9vw;
          font-weight: 700;
        }
        .description {
          padding: 0 1vw;
          text-align: center;
          color: $main-text;
        }
      }
    }
  }
}
