@import "../../variables.scss";

.seWrapper {
  right: 0;
  position: absolute;

  width: 70vw;

  article {
    width: 100%;
    .bottom {
      justify-content: flex-start;
      width: 100%;
      .card {
        min-width: calc(100% / 4 - 4vw);
        height: 40vh;
        margin: 6vh 4vw 0 0;
        // margin-right: 4vw;

        position: relative;
        background: $dark-gray;

        border-radius: 1.4vh;

        .bigDescription {
          margin: 2vh 0 0 2vw;
          width: 38vw;
          color: $main-text;
          transition: 200ms;
        }
        .description {
          text-align: center;
          color: $main-text;
          margin: 2vh 1vw;
        }
        .title {
          color: $accent;
          font-weight: 700;
          font-size: 1.7vw;
          margin: 1vh 0;
        }
        .expandIcon {
          width: 2vw;

          left: 1vw;
          bottom: 1.6vh;
          position: absolute;
        }
        .shrinkIcon {
          width: 2vw;

          right: 1vw;
          top: 1.6vh;
          position: absolute;
        }
        .topWrapper {
          width: 13.54vw;
        }
      }
      .shrinked {
        transition: 400ms;

        .expandIcon {
          display: block;
        }
        .shrinkIcon {
          display: none;
        }
        .description {
          display: block;
        }
        .bigDescription {
          display: none;
        }
      }
      .expanded {
        min-width: 66vw;
        transition: 400ms;
        position: absolute;

        z-index: 2;

        .expandIcon {
          display: none;
        }
        .shrinkIcon {
          display: block;
        }
        .description {
          display: none;
        }
        .bigDescription {
          display: block;
        }
      }
    }
  }
}
