@import "../../variables.scss";

.seWrapper {
  right: 0;
  position: absolute;
  width: 85vw;

  article {
    margin-top: 30px;
    justify-content: space-between;
    align-items: flex-start;

    .card {
      width: 600px;

      margin: 0 10px;
      padding: 5px 10px 25px;

      background: $dark-gray;
      border-radius: 10px;

      .title {
        font-size: 3em;
        font-weight: 700;
        color: $accent;
      }
      .description {
        color: $main-text;
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
      }
      .detailDescription {
        margin-top: 8px;

        font-size: 1em;
        font-weight: 400;
        color: $back-text;
        text-align: center;
      }
    }
  }
}
