@import '../../variables.scss';

.teWrapper {
  margin-top: 6vh;
  width: 75vw;
  .cardsWrapper {
    padding-top: 2vh;
    .wideCard {
      width: 60vw;

      padding: 20px;
      padding-top: 0;
      margin-bottom: 20px;

      background: $dark-gray;
      border-radius: 1.4vh;

      h1 {
        color: $main-text;
        font-size: 3em;
        span {
          color: $accent;
          font-size: 1.5em;
        }
        .addendum {
          color: $accent;
          font-size: 0.3em;
          margin-bottom: 0.5em;
        }
      }
      p {
        color: $main-text;
        font-size: 1.1em;

        position: relative;
      }
      ul {
        margin-top: 1.2vh;
        li {
          list-style: none;
          p {
            span {
              color: $accent;
            }
          }
        }
      }
    }
  }
}
