@import "../../variables.scss";

.thirdCard{
    .icon {
        color: #f4f4f4;
        font-size: 4.8vw;
        margin-top: 1vh;
    }
    width: 13vw;

    border-radius: 1.4vh;
    background: $dark-gray;
    .cardTitleWrapper {
      min-height: 6vw;
    }
    .cardTitle{
      color: $accent;
      font-size: 1.2vw;
      text-align: center;
      font-weight: 700;
    }
}

.initial {
    height: 36vw;
}
.collapsed {
    height: 11vw;
}
.expanded {
    height: 12vw;
    border-bottom-left-radius: 0vh;
    border-bottom-right-radius: 0vh;
}

.descExpanded {
    background: $dark-gray;
    padding: 2vw 1vw;
    font-size: w;
    text-align: center;
    color: $main-text;
    border-radius: 1.4vh;
    border-top-left-radius: 0;
    margin: 0 0.6vw
}