@import "../../variables.scss";

.thirdCard{
    .icon {
        color: #f4f4f4;
        font-size: 4.8vw;
        margin-top: 1vh;
    }
    width: 13vw;
    height: 36vw;
    border-radius: 1.4vh;
    background: $dark-gray;
    .cardTitleWrapper {
      min-height: 6vw;
    }
    .cardTitle{
      color: $accent;
      font-size: 1.2vw;
      text-align: center;
      font-weight: 700;
    }
    .description {
      padding: 0 1vw;
      font-size: 0.7vw;
      text-align: center;
      color: $main-text;
    }
  }