@import "../../variables.scss";

.thirdCard{
    .icon {
        color: #f4f4f4;
        font-size: 4vw;
        margin: 1vh;
    }
    align-items: flex-start;
    margin: 0.5em 0;
    padding: 1em 3vw;
    border-radius: 1.4vh;
    background: $dark-gray;
    .cardTitle{
      color: $accent;
      font-size: 1.6vw;
      text-align: center;
      font-weight: 700;
    }
    .description {
        font-size: 0.7vw;
        text-align: left;
        color: $main-text;
    }
}